.App {
  text-align: center;
}
body {
  background-image: url("paper.gif");
  background-color: #cccccc;
 }


.card-columns {

display: inline-block;{  column-break-inside: avoid}

@include media-breakpoint-only(lg) {
    column-count: 3;
  }
